html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*....................................................................................................Header....*/
.hero-image {
    background:url("../images/hero-plant.jpg");
    height:450px;
    width:100%;
    background-size:cover;
    background-position: left;
    position:relative;
    background-repeat: no-repeat;
    overflow: hidden;
   
}

@media(min-width: 728px) {
    .hero-image {
        background:url("../images/plant-hero-edit.jpg");
        height:450px;
        width:100%;
        background-size:cover;
        background-position: center;
        position:relative; 
        background-repeat: no-repeat;
        overflow: hidden;
    }

}

div .jumbotron {
    background-color: rgba(43, 230, 127, 0.22);
    position: absolute;
    background-size:cover;
    height: 100%;
    width: 100%;
    margin-right: 0px;
    overflow: hidden;
} 