@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;500;600;700&family=Comic+Neue:ital,wght@0,300;0,400;1,400&display=swap');

:root {
    --main-green: #0b720b;
    --off-white: #fdfdfd;
    --dk-brown: #0c0606;
    --md-brown: #2a2020;

    --max-width: 1500px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0.25px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*-----------------------------Background Colors*/

.bg-color-car {
    background-color: var(--off-white);
}

.bg-color-benefits {
    background-color: var(--off-white);
}


.bg-color-what {
    background-color: #f1fdf4;
}

#bg-color-footer {
    background-color: rgba(11, 114, 11, 0.72);
}

/*------------------------------Generic Typography*/
div {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    font-size: 105%;
}

/*-------------------------------Header/Nav*/
nav {
    min-height: 36px;
    max-height: min-content;
}

.logo {
    font-size: 1.50rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    white-space: nowrap;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 0px;
}

.logo a {
    color: var(--main-green);
    text-align: left;
}

.col-6.logo {
    padding-left: 13px;
    padding-right: 13px;
}

.nav-bar-container {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: right;
}

nav a {
    color: var(--main-green);
    letter-spacing: 0.06rem;
    border: 2px none;
}

.logo a:hover {
    color: var(--off-white);
    text-decoration: none;
    background-color: var(--main-green);
    border-radius: 6px;
    padding: 5px;
}

nav a:hover {
    color: var(--off-white);
    text-decoration: none;
    background-color: var(--main-green);
    border-radius: 2px;
    transform: scale(1.5)
}

.active {
    color: rgb(19, 46, 31);
    text-transform: uppercase;
}


.nav-bar-item {
    padding-right: 2.25px;
    padding-left: 2.25px;
    font-size: 1.15rem;
    text-align: center;
}

.button-style {
    border: 2px none;
    border-radius: 5px;
    background-color: rgba(104, 72, 72, 0.1);
    padding: 0.3rem;
}

.button-style:hover {
    color: var(--off-white);
    background-color: var(--main-green);
    text-decoration: none;
}

.no-wrap {
    white-space: nowrap;
}

/*--------------------------Hero Image/ Carousel*/
.hero-image {
    background: url("../images/hero-plant.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
}


div .jumbotron {
    background-color: rgba(235, 235, 235, 0.05);
    
    background-size: cover;
    height: 400px;
    width: 100%;
}


#hero-text-heading {
    font-weight: 600;
    letter-spacing: 0.125rem;
    font-size: 3.2rem;
    text-align: center;
    padding-top: 0.5rem;
}

#hero-text-sub {
    padding-top: 0;
    text-align: center;
    font-size: 1.2rem;
}

.carousel-item {
    height: min-content;
    position: relative;
}

#carouselExampleCaptions .container-fluid {
    padding: 0px;
}

.carousel-item:after {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    content: "";
    background-color: rgba(253, 253, 253, 0.29);
}

.carousel.pointer-event {
    padding: 0px;
}


.carousel-caption h2,
.carousel-caption h3 {
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}

/*----------------------------------Body */

.container-pattern {
    background-image: url("../images/plant-pattern.jpg");
    background-size: cover;
    height: min-content;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-benefits {
    height: min-content;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contrast-back {
    background-color: rgba(255, 255, 255, 0.9);
    width: inherit;
    height: initial;
    margin: 0px;
    padding: 3%;
}



.head-line {
    background-color: var(--main-green);
    height: 2px;
    width: 20%;
    margin-bottom:45px;
}

.body-content {
    margin: 10px;
    padding: 40px 5px 10px 5px;
    letter-spacing: 0.018rem;
    text-align: center;
    font-size: 1.5rem;
}


.about {
    padding: 2px;
    height: min-content;
    color: var(--md-brown);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.4rem;
    padding-bottom: 20px;
}

img.about-img {
    width: 100%;
    height: auto;
    background-size: contain;
    border-radius: 2%;
    transition: 1s ease-in-out;
    padding-top: 50px;
}

img.about-img:hover {
    transform: scale(1.03);
}

.content-heading {
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 50px;
    letter-spacing: 0.125rem;
}

h4 .sub-heading {
    color: var(--md-brown);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-bottom: 17px;
}

.sub-heading-green {
    color: var(--main-green);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-bottom: 17px;
}




.benefits-text h4 {
    color: var(--md-brown);
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
    margin-bottom: 17px;
}

.benefits-text p {
    color: var(--main-green);
    padding: 5px 5px 45px 5px;
    font-weight: 400;
    letter-spacing: 0.06rem;
}

.link-study {
    text-decoration: none;
    color: var(--dk-brown);
}

.link-study:hover {
    color: #617420;
    text-decoration: none;
}

.offer-text h3 {
    color: var(--dk-brown);
    font-weight: 400;
    letter-spacing: 0.125rem;
}

.offer-text p {
    color: var(--dk-brown);
    padding: 5px 5px;
    font-weight: 500;
    letter-spacing: 0.06rem;
}

.big-button {
    color: var(--off-white);
    padding: 1rem;
    text-decoration: none;
    background-color: var(--main-green);
    border-color: var(--main-green);
    border: 0.05rem solid;
    margin: 10px;
}

.big-button:hover {
    background-color: var(--off-white);
    color: var(--main-green);
}

.mid-button {
    color: var(--main-green);
    padding: 1rem 1rem;
    text-decoration: none;
    background-color: var(--off-white);
    border-color: var(--off-white);
    border: 0.05rem solid;
    margin: 10px;
}

footer .mid-button:hover {
    background-color: var(--main-green);
    color: var(--off-white);
}

.testimonal-text p {
    color: var(--main-green);
    padding: 20px 5px 10px 0px;
    font-size: 1rem;
    font-family: 'Comic Neue', cursive;
    font-weight: 400;
}

.right-text p {
    padding: 20px 0px 10px 10px;
}

.img-container {
    max-height: 100vh;
    max-width: 100vh;
}

img.testimonal-images {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    background-size: contain;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 20px;
    padding:0;
}

img.testimonal-images:hover {
    transform: scale(1.10);
}

.col-5 {
    padding-right: 15px;
    padding-left: 8px;
    text-align: right;
}

.row.testimonal-text {
    margin-bottom: 100px;
}

/*------------------------------------Form*/
.container-pattern-form {

    background-image: url("../images/plant-pattern.jpg");
    background-size: cover;
    height: min-content;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    padding: 20%;
}

div .container-pattern-form {
    padding-right: 10%;
    padding-left: 10%;
}

.request-form {
    display: block;
    border-width: 1px;
    border-color: var(--dk-brown);
    padding-top: 5%;
    padding-bottom: 2%;
}

h5 small {
    font-style: italic;
}

.jumbotron-form {
    background-color: rgba(235, 235, 235, 0.9);
    height: min-content;
    width: 100%;
    border-radius: 2%;
    
}

.fit-center .hero-text,
h2 {
    padding-left: 15px;
    padding-right: 15px;
}

.form-header {
    padding-top: 10%;
    padding-bottom: 3%;
    font-size: 3rem;
    letter-spacing: 0.06rem;
}

.text-request {
    padding-left: 10%;
    padding-right: 10%;
}

.pref-contact-text {
    padding: 10px;
}

h3 .pref-contact-text {
    padding-top: 10px;
}

form h3 {
    font-size: 1.5rem;
}

label {
    padding-right: 5px;
}

div textarea  {
    width: 100%;
    padding-bottom:50px;
    margin-top:30px;
}

/*----------------------------------Footer*/
footer {
    margin-top: 3px;
    font-size: 1rem;
    font-weight: 300;
    color: var(--off-white);
    letter-spacing: 0.06rem;
}

.footer-style {
    padding-top: 30px;
}

footer h5 {
    font-size: 1.5rem;
    color: var(--off-white);
    padding-bottom: 15px;
    padding-top: 30px;
}

footer p {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0px;
}

footer.row {
    min-height: 40px;
    padding-bottom: 0px;
    margin: 10px;
    padding-top: 20px;
}

.f-social,
.f-social a {
    letter-spacing: 0.44rem;
    color: var(--off-white);
    padding-bottom: 20px;
}

.footer-style .f-social a:hover {
    color: var(--main-green);
}

.button-padding {
    padding-bottom: 1.875rem;
}

.footer-style .mid-button {
    color: var(--main-green);
}

/* ----------------------------Media Queries*/

@media (min-width:360px) {
    .big-button {
        padding: 1rem 2.4rem;
    }

    .logo {
        font-size: 2.00rem;
    }

    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 1.3rem;
    }
}


@media(min-width: 728px) {
    .nav-bar-item {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.16rem;
        text-align: right;
    }
    .nav-bar-container {
        padding-top: 17px;
        padding-bottom: 15px;
    }

    .hero-image {
        background: url("../images/plant-hero-edit.jpg");
        height: 550px;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    #hero-text-heading {
        font-weight: 600;
        letter-spacing: 0.125rem;
        font-size: 5rem;
        padding-top: 15rem;
        text-align: left;
    }

    #hero-text-sub {
        text-align: left;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        font-size: 2rem;
    }

    .col-sm-4 {
        padding: 0px;
    }

    .col-4 {
        padding-left: 17px;
    }

    .col-8 {
        padding-right: 0px;
    }

    .about {
        position: relative;
    }

    .container-about {
        position: absolute;
        top: 50%;
    }

    .container-benefits {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 3rem;
        padding-bottom: 3%;
    }

    .carousel-caption h3 {
        padding-bottom: 15%;
        padding-top:0.5%;
    }

    .testimonal-text p {
        padding: 60px 5px 20px 0px;
    }

    .request-form {
        display: block;
        border-width: 1px;
        border-color: black;
        padding-top: 2%;
    }

    h5 small {
        font-style: italic;
    }

    .fit-center .hero-text,
    h2,
    p {
        padding-left: 15px;
        padding-right: 15px;
    }


    .text-label {
        text-align: right;
    }

    textarea {
        width: 100%;
    }
}

@media(min-width: 1024px) {

    .nav-bar-item {
        padding-right: 13px;
        padding-left: 13px;
        font-size: 1.75rem;
        text-align: right;
    }

    .logo {
        font-size: 2.5rem;
    }

    .col-sm-4 {
        padding: 0px;
    }

    .container-about {
        padding-top: 90px;
    }

    .about-img-container {
        padding-top: 80px;
    }

    .head-line {
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .about-sub-heading {
        padding-top: 40px;
    }

    .col-4 {
        padding-left: 17px;
    }

    .col-8 {
        padding-right: 0px;
    }

    .carousel-caption h2,
    .carousel-caption h3 {
        font-size: 4rem;
        padding-bottom: 3%;
    }

    .carousel-caption h3 {
        padding-bottom: 10%;
    }

    .testimonal-text p {
        padding: 10px 10px;
        margin: 1px;
        font-size: 2rem;
    }
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: var(--max-width);
    }
}

@media (min-width: 1450px) {

    .container-fluid {
        max-width: var(--max-width);
    }
}

@media (min-width: 2000px) {
    .container-pattern-form {
        min-height: 100vh;
    }
}